# Default ignored files
/../../untitled3/.idea/shelf/
/../../untitled3/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../untitled3/.idea/httpRequests/
# Datasource local storage ignored files
/../../untitled3/.idea/dataSources/
/../../untitled3/.idea/dataSources.local.xml
